<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

<title>订单详情</title>

<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet"
	type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet"
	type="text/css">

<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/orstyle.css" rel="stylesheet" type="text/css">

<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>


</head>

<body>
	<!--头 -->
	<header> <div th:include="home/header :: header"></div> </header>
	<div class="nav-table">
		<div class="long-title">
			<span class="all-goods">全部分类</span>
		</div>
		<div class="nav-cont">
			<ul>
				<li class="index"><a href="#">首页</a></li>
				<li class="qc"><a href="#">闪购</a></li>
				<li class="qc"><a href="#">限时抢</a></li>
				<li class="qc"><a href="#">团购</a></li>
				<li class="qc last"><a href="#">大包装</a></li>
			</ul>
			<div class="nav-extra">
				<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利 <i
					class="am-icon-angle-right" style="padding-left: 10px;"></i>
			</div>
		</div>
	</div>
	<b class="line"></b>
	<div class="center">
		<div class="col-main">
			<div class="main-wrap">

				<div class="user-orderinfo">

					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf">
							<strong class="am-text-danger am-text-lg">订单详情</strong> / <small>Order&nbsp;details</small>
						</div>
					</div>
					<hr />
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step"> <em class="u-progress-stage-bg"></em>
								<i class="u-stage-icon-inner">1<em class="bg"></em></i>
								<p class="stage-name">拍下商品</p>
							</span> <span class="step-2 step"> <em
								class="u-progress-stage-bg"></em> <i class="u-stage-icon-inner">2<em
									class="bg"></em></i>
								<p class="stage-name">卖家发货</p>
							</span> <span class="step-3 step"> <em
								class="u-progress-stage-bg"></em> <i class="u-stage-icon-inner">3<em
									class="bg"></em></i>
								<p class="stage-name">确认收货</p>
							</span> <span class="step-4 step"> <em
								class="u-progress-stage-bg"></em> <i class="u-stage-icon-inner">4<em
									class="bg"></em></i>
								<p class="stage-name">交易完成</p>
							</span> <span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<div class="order-infoaside">
						<div class="order-logistics">
							<a href="logistics.jsp">
								<div class="icon-log">
									<i><img src="../images/receive.png"></i>
								</div>
								<div class="latest-logistics">
									<p class="text">已签收,签收人是青年城签收，感谢使用天天快递，期待再次为您服务</p>
									<div class="time-list">
										<span class="date">2015-12-19</span><span class="week">周六</span><span
											class="time">15:35:42</span>
									</div>
									<div class="inquire">
										<span class="package-detail">物流：天天快递</span> <span
											class="package-detail">快递单号: </span> <span
											class="package-number">373269427868</span> <a
											href="logistics.jsp">查看</a>
									</div>
								</div> <span class="am-icon-angle-right icon"></span>
							</a>
							<div class="clear"></div>
						</div>
						<div class="order-addresslist">
							<div class="order-address">
								<div class="icon-add"></div>
								<p class="new-tit new-p-re">
									<span class="new-txt" th:text="${orderall.oTotal.a_consigneename}">小叮当</span> <span class="new-txt-rd2" th:text="${orderall.oTotal.a_phone}">159****1622</span>
								</p>
								<div class="new-mu_l2a new-p-re">
									<p class="new-mu_l2cw">
										<span class="title">收货地址：</span> <span class="province" th:text="${orderall.oTotal.a_province}">湖北</span>省
										<span class="city" th:text="${orderall.oTotal.a_city}">武汉</span>市 <span class="dist" th:text="${orderall.oTotal.a_area}">洪山</span>区 <span
											class="street" th:text="${orderall.oTotal.a_details}">雄楚大道666号(中南财经政法大学)</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="order-infomain">

						<div class="order-top">
							<div class="th th-item">
								<td class="td-inner">商品</td>
							</div>
							<div class="th th-price">
								<td class="td-inner">单价</td>
							</div>
							<div class="th th-number">
								<td class="td-inner">数量</td>
							</div>
							<div class="th th-operation">
								<td class="td-inner">商品操作</td>
							</div>
							<div class="th th-amount">
								<td class="td-inner">合计</td>
							</div>
							<div class="th th-status">
								<td class="td-inner">交易状态</td>
							</div>
							<div class="th th-change">
								<td class="td-inner">交易操作</td>
							</div>
						</div>

						<div class="order-main">

										<!--交易成功-->
										<div id="delall" class="order-status3" th:if="${orderall.oTotal.t_state} == 1">
											<div class="order-title">
												<div class="dd-num">
													订单编号：
													<a name="bh" href="javascript:;" th:text="${orderall.oTotal.o_bh}"></a>
												</div>
												<span th:text="'成交时间：'+${orderall.oTotal.t_time}">2015-12-20</span>
												<!--    <em>店铺：小桔灯</em>-->
											</div>
											<div class="order-content">
												<div class="order-left">
													<ul class="item-list" th:each="about : ${orderall.oAbouts}">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint"> <img
																	th:src="@{${about.commodity.s_url}}"
																	class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p th:text="${about.commodity.s_name}">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price" th:text="${about.commodity.s_price}">333.00</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span th:text="'×'+${about.sc_number}"></span>
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation"></div>
														</li>
													</ul>
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount" th:text="'合计：'+${orderall.oTotal.t_price}">
															合计：676.00
														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">交易成功</p>
																<p class="order-info">
																	<a th:href="@{/orderinfo(o_bh=${orderall.oTotal.o_bh})}">订单详情</a>
																</p>
															</div>
														</li>
														<li class="td td-change">
															<div id="delorder" class="am-btn am-btn-danger anniu">删除订单</div>
														</li>
													</div>
												</div>
											</div>
										</div>
										<script type="text/javascript">
										   $("#delorder").each(function(){
											   $(this).click(function(){
												   var list = $(this).parents(".order-status3");
												   var o_bh = $(this).parents(".order-status3").find("[name='bh']").text();
												   $.post("/delorder",{"o_bh":o_bh},function(data){
													   if(data){
														   $(list).remove();
													   }
												   })
											   })
										   })
										  
										</script>

										<!--不同状态订单-->
										<div class="order-status3" th:if="${orderall.oTotal.t_state} == 0">
											<div class="order-title">
												<div class="dd-num">
													订单编号：
													<a name="bh" href="javascript:;" th:text="${orderall.oTotal.o_bh}"></a>
												</div>
												<span th:text="'成交时间：'+${orderall.oTotal.t_time}">2015-12-20</span>
												<!--    <em>店铺：小桔灯</em>-->
											</div>
											<div class="order-content">
												<div class="order-left">
													<ul class="item-list" th:each="about : ${orderall.oAbouts}">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint"> <img
																	th:src="@{${about.commodity.s_url}}"
																	class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p th:text="${about.commodity.s_name}">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price" th:text="${about.commodity.s_price}">333.00</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span th:text="'×'+${about.sc_number}"></span>
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation"></div>
														</li>
													</ul>
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount" th:text="'合计：'+${orderall.oTotal.t_price}">
															合计：676.00
														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">未付款</p>
																<p class="order-info">
																	<a th:href="@{/orderinfo(o_bh=${orderall.oTotal.o_bh})}">订单详情</a>
																</p>
															</div>
														</li>
														<li class="td td-change">
															<div id="payorder" class="am-btn am-btn-danger anniu">现在付款</div>
														</li>
													</div>
												</div>
											</div>
								<script type="text/javascript">
								  $("#payorder").each(function(){
									  $(this).click(function(){
										  var o_bh = $(this).parents(".order-status3").find("[name='bh']").text();
										  location.href = "/payorder?o_bh="+o_bh;
									  })
									  
								  })
								  
								</script>

										</div>

						</div>
					</div>
				</div>

			</div>
			<!--底部-->
			<div class="footer">
				<div class="footer-hd">
					<p>
						<a href="#">卓鼎教育</a> <b>|</b> <a href="#">商城首页</a> <b>|</b> <a
							href="#">支付宝</a> <b>|</b> <a href="#">物流</a>
					</p>
				</div>
				<div class="footer-bd">
					<p style="text-align: center;">
						<a href="#">合作伙伴</a> <a href="#">联系我们</a> <a href="#">网站地图</a> <em
							style="text-align: center;">© 2015-2025 zking 版权所有</em>
					</p>
				</div>
			</div>
		</div>
		<div th:include="person/sidebar :: sidebar"></div>
	</div>

</body>

</html>